/* Color key:
          Background: rgb(42,24,59)
          hover:  rgb(209, 74, 90)
          bar colors: rgb(118, 56, 77)
          font: rgb(226, 62, 87) */

.App {
  text-align: center;
}

.App-header {
  background-color: #e23e57;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(226, 62, 87);
}
a {
  color: red;
  text-decoration: none;

}
.parentGrid{
  display: grid;
  grid-template-columns: 20vw auto 15vw;
  grid-template-rows: auto auto auto;
  grid-row-gap: 5px;
  grid-column-gap: 10px;
  Background: rgb(42,24,59);
  margin-top:40px;
  height:96.5vh;
}
    html::-webkit-scrollbar {
      width: 5px;

    }
    /* Track */
    html::-webkit-scrollbar-track {
      background: rgb(42,24,59);
    }
    /* Handle */
    html::-webkit-scrollbar-thumb {
      background:linear-gradient( rgb(65, 112, 246),rgb(165, 55, 265));
      border-radius: 50px;

    }
.sidenav{
  grid-row-start: 1;
  grid-row-end: 5;
}
.sidenav li:nth-child(even){
  background-color: rgb(24,30, 45);
}
.sidenav li:nth-child(odd){
  background-color:rgb(52,61,78);
}
.centerColumn{
    grid-row-start: 1;
    grid-row-end: 5;
    grid-column-start: 2;
    grid-column-end: 3;
    overflow-y:scroll;
    }
        /* ScrollBar */

    .centerColumn::-webkit-scrollbar {
      width: 5px;

    }
    /* Track */
    .centerColumn::-webkit-scrollbar-track {
      background: rgb(42,24,59);
    }
    /* Handle */
    .centerColumn::-webkit-scrollbar-thumb {
      background:linear-gradient( rgb(65, 112, 246),rgb(165, 55, 265));
      border-radius: 50px;

    }
.rightSidebar{
    grid-row-start: 1;
    grid-row-end: 5;

}
