    .likedAlbumGrid {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 1fr;
        grid-row-gap: 10px;
        grid-column-gap: 10px;
        margin-top: 80px;
        height:46vh;
    }
    .likedAlbumCard{
        grid-column-start: 1;
        grid-column-end: 2;

    }
    .gridComponentTable{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
        overflow-y: scroll;

    }
    .gridComponentTable::-webkit-scrollbar {
        width: 5px;

    }
    /* Track */
    .gridComponentTable::-webkit-scrollbar-track {
        background: rgb(42,24,59);
    }
    /* Handle */
    .gridComponentTable::-webkit-scrollbar-thumb {
        background:f5d365;
        border-radius: 50px;
    }
